
h1 {
  color: #09121b;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  line-height: 1.6;
  color: #c733b3;
}

.content {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #7a2424;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 20px;
}
